@import "tailwindcss";

@utility glass {
  @apply backdrop-blur-sm backdrop-saturate-150 border;

  box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5),
    inset 0 0 10px rgba(255, 255, 255, 0.2), 0 10px 15px -3px rgba(0, 0, 0, 0.1);

  @apply border-black/5 bg-black/2;

  :global(.dark) & {
    @apply bg-white/5 border-white/5;

    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.7),
      inset 0 0 15px rgba(255, 255, 255, 0.1),
      0 10px 15px -3px rgba(0, 0, 0, 0.3);
  }
}

@utility glass-lg {
  @apply glass backdrop-blur-lg;
}

@utility glass-xl {
  @apply glass-lg backdrop-blur-2xl;
}
