@import "../styles/glass-utilities.css";

@utility button {
  @apply w-fit p-3 flex items-center gap-2 rounded-2xl cursor-pointer;
}

@layer components {
  .glass-button {
    @apply button glass-xl;

    @variant hover {
      @apply bg-white/10;
    }
  }

  .circle {
    @apply rounded-full w-10 h-10 overflow-hidden p-3 flex justify-center;
  }
}
